extends layout

block content
	form(action="/lists" method='POST')
		div.form-group
			label(for="nameItem") Название задачи
			input.form-control#title(type='text' name='title' placeholder='Enter' required)
			label(for="nameDescription") Краткое описание задачи
			input.form-control#description(type='text' name='description' placeholder='Enter' required)
		button.btn.btn-primary#btn(type='submit') Добавить задачу
		ul#list.list-group.mt-3
